@charset "utf-8";
/* CSS Document */

body { padding:50px;}

.news { border:1px solid #cbcbcb;}
.news:after { content: ""; display: block; clear: both;}
.news > div { float: left; padding:34px 47px 24px 46px; width:325px; background:url(../images/ico_blog.gif) no-repeat;}
.news > div h2 { padding:0 0 19px; font-size:22px; color:#f9aa00;}
.news > div li { line-height:26px;}
.news > div li a { display:block; overflow:hidden; width:325px; font-size:13px; white-space:nowrap; text-overflow:ellipsis; background:url(../images/bu_gray.gif) no-repeat left; text-indent:8px;}
.news > div.fb { background-color:#3e5b99; background-image:url(../images/ico_facebook.gif);}
.news > div.fb h2 { color:#fff;}
.news > div.fb li a { background-image:url(../images/bu_white.gif); color:#fff;}
.news > div.tw { background-color:#f7f7f7; background-image:url(../images/ico_twitter.gif);}
.news > div.tw h2 { color:#5ad6f6;}
